<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div><a href="https://www.ericrybarczyk.dev" class="navbar-brand">EricRybarczyk.dev</a></div>

    <ul class="navbar-nav">
      <li><a routerLink="/welcome/username" class="nav-link">Home</a></li>
      <li><a routerLink="/todos" class="nav-link">ToDo List</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a routerLink="/login" class="nav-link">Login</a></li>
      <li><a routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>

  </nav>
</header>
