<h1>Welcome</h1>

<div class="container">
  Hello {{usernameValue}}, you can manage your <a routerLink="/todos">To-Do List</a>
</div>
<br>
<div class="container">
  Click to test the API call
  <br>
  <button (click)="getWelcomeMessage()" class="btn btn-primary">Click Me</button>
</div>
<br>
<div class="alert alert-success" *ngIf="welcomeMessageFromService">
  <h4>Message Received: {{welcomeMessageFromService}}</h4>
</div>
<div class="alert alert-danger" *ngIf="errorMessageFromService">
  <h4>Oops: {{errorMessageFromService}}</h4>
</div>
